@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,900&display=swap');

.bodyTitle{
    text-align: center;
}


.bodyTitle h1 {
    font-size: 56px;
    font-family: 'Alegreya', serif;
    margin: 100px 0 0 0;
    color: brown;
}

.bodyTitle p {
    font-size: 20px;
    margin: 10px;
    color: brown;
}

.bodyTitle p:last-child{
    margin-bottom: 100px;
}

.imageCarousel{
    max-width: 1152px;
    margin: auto;
    
}

.imageCarousel img{
    width: 100%;
    height: 600px;
    border-radius: 10px;
}